<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

<ng-container *ngIf="!showRegistrationWindow; then logInWindow"></ng-container>
<ng-container *ngIf="showRegistrationWindow; then registerWindow"></ng-container>

<ng-template #logInWindow >
    <div class="container">
      <h2>Login Form</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-item">
              <span class="material-icons-outlined">
                  account_circle
                  </span>
              <input type="text" name="text" id="text" formControlName="username" placeholder="Username or email">
          </div>
          <div class="form-item">
              <span class="material-icons-outlined">                   
                  lock
                  </span>
              <input type="password" name="pass" id="pass" formControlName="password" placeholder="Password">

          </div>
          <button type="submit" class="btn btn-primary mt-4" > Log in </button>
          <p>New User? <button (click)="showRegistrationWindow = true" class="btn btn-primary" >Sign in</button></p>
      </form>
    </div>
</ng-template>

<ng-template #registerWindow>
  <div class="row justify-content-center mt-5" style="width: 99%;">
    <div class="reg-container">
      <h2>Login Form</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-item">
              <span class="material-icons-outlined">
                  account_circle
                  </span>
              <input type="text" name="text" id="text" formControlName="username" placeholder="Username or email">
          </div>
          <div class="form-item">
              <span class="material-icons-outlined">                   
                  lock
                  </span>
              <input type="password" name="pass" id="pass" formControlName="password" placeholder="Password">
          </div>
          <div class="form-item">
            <span class="material-icons-outlined">                   
                lock
                </span>
            <input type="password" name="pass" id="pass" formControlName="confirmPassword" placeholder="Repeat password">
        </div>
          <button type="submit" class="btn btn-primary mt-4" > Sign up </button>
          <p>Have an account? <button (click)="showRegistrationWindow = false" class="btn btn-primary" >Log in</button></p>
      </form>
  </div>
  </div>
</ng-template>




  