<nav>
    <button type="button" (click)="isRegistrationForm = false">Log in</button>
    <button type="button" (click)="isRegistrationForm = true">Sing up</button>
</nav>

<div *ngIf="!isRegistrationForm">
    <h1>Log in</h1>
    <form [formGroup]="profileForm">

        <label for="first-name">Username: </label>
        <input id="first-name" type="text" formControlName="username">
      
        <label for="last-name">Password: </label>
        <input id="last-name" type="text" formControlName="password">
      
      </form>
</div>

<div *ngIf="isRegistrationForm">
    <h1>Register new user</h1>
    <form [formGroup]="profileForm">

        <label for="first-name">Username: </label>
        <input id="first-name" type="text" formControlName="username">
      
        <label for="last-name">Password: </label>
        <input id="last-name" type="text" formControlName="password">

        <label for="last-name">Confirm password: </label>
        <input id="last-name" type="text" formControlName="password">
      
      </form>
</div>

<div>
    <button type="button" (click)="submitForm()">Submit</button>
</div>
