.main-container {
    color: white;
    .home-description {
        padding-top: 8rem;
        h3 {
            font-size: 2rem;
            
        }
        h4{
            margin-bottom: 4rem;
        }
        p {
            font-size: 1.25rem;
        }
    }
    .authors-header{
        margin-bottom: 2rem;
    }
    .author {
        height: 150px;
        
        .author-pfp-container {
            display: flex;
            justify-content:center;

            .author-pfp {
                border-radius: 2rem;
                width: 4rem;
                height: auto;
                margin:auto
            }
        }
            
        .author-name {
            font-size: 1.5rem;
            padding-bottom: 0.5rem;
        }
    }
    
}
