<div class="container main-container ">
    <div class="row row-cols-12">
        <div class="home-description col-md-6">
            <h3>Implimintation of print managing tool</h3>
            <h4>by 2nd group</h4>
            <p>
                When developing an approach to the execution of book printing, there is a need to maximize profit and efficiency, taking into account various factors, such as - profit per unit, number of books, number of machines and performance, as well as efficient use of resources.
            </p>
            <p>
                Purpose of this assignment is to develop an effective approach to maximizing profit and efficiency in the fulfillment of printing orders, as well as periodically perform data analysis to ensure the appropriate performance of the book printing plan for the set work tasks.
            </p>
            <br>
        </div>
        <div class="home-login col-md-6">
            <app-login></app-login>
        </div>
    </div>
    <h3 class="authors-header">Authors</h3>
    <div class="authors row row-cols-2">
        <div class="col author" *ngFor="let author of authors" >
            <div class="row row-cols-9">
                <div class="author-pfp-container col-md-2">
                    <img [src]="author.pfp" class="author-pfp" alt="image">
                </div>
                <div class="author-info col-md-7">
                    <span class="author-name">{{author.name}}</span><br>
                    <span class="author-description">{{author.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

