.main-container{
    color: white;
    .home-description{
        h3 {
            font-size: 32px;
            margin-bottom: 75px;
        }
        span {
            font-size: 18px;
            text-align: left;
        }
    }
}
