.center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

th, td {
  color: aliceblue;
  font-size: large;
}

.orders-table {
  width: 100%;
  height: 100%;
  background-color: #272727;
}

.button-proceed {
  margin-right: 10px;
  background-color: #00c22a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

}

.button-decline {
  margin-right: 10px;
  background-color: #a00505;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;

}


.button-proceed button:hover {
  background-color: #84fc98;
}

.button-decline button:hover {
  background-color: rgb(202, 5, 5);
}