
  <div *ngIf="isLoading" class="center">
    <book-loader></book-loader>
  </div>
  
  <div *ngIf="!isLoading">
    <table mat-table [dataSource]="productData" class="mat-elevation-z8 orders-table">
      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef>Book name</th>
        <td mat-cell *matCellDef="let element">{{element.bookName}}</td>
      </ng-container>
    
      <ng-container matColumnDef="pageCount">
        <th mat-header-cell *matHeaderCellDef>Pages</th>
        <td mat-cell *matCellDef="let element">{{element.pageCount}}</td>
      </ng-container>
    
      <ng-container matColumnDef="coverType">
        <th mat-header-cell *matHeaderCellDef>Cover type</th>
        <td mat-cell *matCellDef="let element">{{element.coverType}}</td>
      </ng-container>
    
      <ng-container matColumnDef="bindingType">
        <th mat-header-cell *matHeaderCellDef>Binding type</th>
        <td mat-cell *matCellDef="let element">{{element.bindingType}}</td>
      </ng-container>

      <ng-container matColumnDef="format">
        <th mat-header-cell *matHeaderCellDef>Format</th>
        <td mat-cell *matCellDef="let element">{{element.format}}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{element.amount}}</td>
      </ng-container>

      <ng-container *ngIf="isAdmin" matColumnDef="proceed">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-button class="button-proceed" (click)="null">Proceed order</button>
        </td>
    </ng-container>

    <ng-container *ngIf="isAdmin" matColumnDef="decline">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-button class="button-decline" (click)="onDecline(element)">Decline</button>
        </td>
    </ng-container>
    
      @if (isAdmin) {
        <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
      } @else {
        <tr mat-header-row *matHeaderRowDef="displayedAdminColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAdminColumns;"></tr>
      }
      
    </table>
  </div>
